<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:macro name="imu_sensor" params="
        prefix:=''
        parent:='base_link'
        visual_xyz_offset:='0 0 0'
        visual_rpy_offset:='0 0 0'
        inertial_xyz_offset:='0 0 0'
        inertial_rpy_offset:='0 0 0'
        mass:=0.031
        length:=0.03899
        width:=0.03785
        height:=0.01338
        material_name:='blue'
        update_rate:='15.0'
        topic_name:='imu/data'
        always_on:=true
        visualize:=false
        *origin
    ">

        <link name="${prefix}imu_link">
            <visual>
                <origin xyz="${visual_xyz_offset}" rpy="${visual_rpy_offset}"/>
                <geometry>
                    <box size="${length} ${width} ${height}"/>
                </geometry>
                <material name="${material_name}"/>
            </visual>

            <inertial>
                <mass value="${mass}" />
                <origin xyz="${inertial_xyz_offset}" rpy="${inertial_rpy_offset}"/>
                <inertia
                    ixx="${(mass/12.0) * (height*height + width*width)}"
                    ixy="0.0"
                    ixz="0.0"
                    iyy="${(mass/12.0) * (length*length + height*height)}"
                    iyz="0.0"
                    izz="${(mass/12.0) * (length*length + width*width)}" />
            </inertial>
        </link>

        <joint name="${prefix}imu_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}imu_link" />
            <xacro:insert_block name="origin"/>
        </joint>

        <gazebo reference="${prefix}imu_link">
            <material>Gazebo/Blue</material>
            <sensor name="${prefix}imu_sensor" type="imu">
                <topic>${topic_name}</topic>
                <update_rate>${update_rate}</update_rate>
                <always_on>${always_on}</always_on>
                <visualize>${visualize}</visualize>
                <!-- <gz_frame_id>${prefix}imu_link</gz_frame_id> -->
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>