<?xml version="1.0"?>
<!-- Gazebo-specific xacro file (adds sensors, materials, and other plugins) -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="protobot_gazebo" params="prefix">

    <!-- Define the friction and colors to use in simulation (Gazebo is unable to use the same <material> tags as the URDF) -->
    <gazebo reference="${prefix}chassis">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="${prefix}left_wheel">
        <mu1>1.0</mu1> <!-- contact friction -->
        <mu2>1.0</mu2>
        <kp>1e10</kp> <!-- stiffness -->
        <kd>1e10</kd> <!-- damping -->
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="${prefix}right_wheel">
        <mu1>1.0</mu1> <!-- contact friction -->
        <mu2>1.0</mu2>
        <kp>1e10</kp> <!-- stiffness -->
        <kd>1e10</kd> <!-- damping -->
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="${prefix}caster_wheel">
        <mu1>0.000001</mu1> <!-- contact friction coefficient -->
        <mu2>0.000001</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- ros2 control plugin -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find protobot_bringup)/config/controllers.yaml</parameters>
            <parameters>$(find protobot_bringup)/config/controllers_use_sim_time.yaml</parameters>
        </plugin>
    </gazebo>

  </xacro:macro>

</robot>
