<?xml version="1.0"?>

<!-- Puts all the pieces (urdf, control, simulation) of the protobot together -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="protobot">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_gazebo" default="false" />

    <!-- Import different pieces of the protobot -->
    <!-- RVIZ colors -->
    <xacro:include filename="$(find protobot_description)/urdf/materials.urdf.xacro" />

    <!-- Use macros from imported files to define the full protobot -->
    <!-- Core URDF -->
    <xacro:include filename="$(find protobot_description)/urdf/protobot_core.urdf.xacro" />
    <xacro:protobot_core prefix="$(arg prefix)"/>

    <!-- Camera -->
    <xacro:include filename="$(find protobot_description)/urdf/camera.urdf.xacro" />
    <xacro:camera parent="chassis" prefix="$(arg prefix)">
        <origin xyz="0.15 0 0" rpy="0 0 0" />
    </xacro:camera>

    <!-- ROS2 Control -->
    <xacro:include filename="$(find protobot_description)/urdf/protobot_control.urdf.xacro" />
    <xacro:protobot_ros2_control name="protobot" prefix="$(arg prefix)" use_gazebo="$(arg use_gazebo)" />
    
    <!-- Gazebo-specific URDF -->
    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find protobot_description)/urdf/protobot_gazebo.urdf.xacro" />
        <xacro:protobot_gazebo prefix="$(arg prefix)"/>
    </xacro:if>

</robot>
